/* Titulo "Quienes somos" */
h1{
    font-size: 20px;
    text-align: center;
}

/* Descripcion de quienes somos con imagen de fondo */
.quienes-somos{
    font-size: 15px;
    margin: 5px;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    color: white;
    background-image: url(../../assets/fondo.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.row {
    text-align: justify;
}

h3{
    text-align: center;
}

@media screen and (min-width: 768px){
    .col-md-8 {
        align-self: center;
    }

    h3{
        text-align: initial;
    }
}

@media screen and (min-width: 1024px) {
h1{
    font-size: 30px;
}

.quienes-somos {
    font-size: 35px;
}

.row {
    text-align: justify;
}
}