/* Fondo del navbar */
.navbar {
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    background-color: #8f6d45;
}

/* Item del menú */
.nav-link {
    color: #212529;
}

/* Mueve los items del menú hacia la derecha */
.navbar-collapse {
    flex-grow: 0;
}

/* Buscador NavBar */
.form-control-nav {
    height: 35px;
    border-radius: 5px;
    border: 3px solid #b49b7f
    
}

/* Boton buscar NavBar */
.btn-outline-success {
    color: #212529;
    border-color: #b49b7f;
    border-radius: 5px;
}

/* Hover del boton buscar NavBar */
.btn-outline-success:hover {
    color: #fff;
    background-color: #b49b7f;
    border-color: #b49b7f;
}