.banner-dos{
    font-size: 30px;
    margin: 5px;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    color: #212529;
    background-image: url(../../assets/espacio-decorado.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 400px;
}

.banner-message {
    margin-top: 120px;
}


/* TABLET */
@media screen and (min-width: 768px) {
.banner-dos{
    font-size: 70px;
    
}

.banner-message {
    margin-top: 90px;
}
}

/* LAPTOP */
@media screen and (min-width: 1024px) {
.banner-dos{
    font-size: 90px;
    height: 650px;
}

.banner-message {
    margin-top: 150px;
}

}